In [1]:
from ownership import create_ownership_dataframe, calculate_ownership
from fetcher import get_top_X_managers, get_player_info, get_teams_dict
from tqdm import tqdm

In [8]:
n = 10000

In [2]:
# top_1000_managers = get_top_X_managers(1000)
top_10000_managers = get_top_X_managers(n)
player_info = get_player_info()
teams_dict = get_teams_dict()

In [3]:
with open('top_manager.txt', 'w') as file:
    for number in top_10000_managers:
        file.write(f"{number}\n")

In [ ]:
# Run Golang

In [20]:
with open("output.txt", "r") as file:
    # Initialize an empty dictionary
    my_dict = {}

    # Read the file line by line
    for line in file:
        # Strip the newline character and any leading/trailing spaces
        line = line.strip()

        # Split the line into key and value (assuming format "key: value")
        key, value = line.split(": ")
        keyInt = int(key)

        # Convert the value to an integer and add it to the dictionary
        my_dict[keyInt] = int(value)

    ownership_percentage = {player_id: (count / n) * 100 for player_id, count in my_dict.items()}
    sorted_ownership = sorted(ownership_percentage.items(), key=lambda item: item[1], reverse=True)

In [21]:
# sorted_ownership = calculate_ownership(top_1000_managers, 2, is_captain=False, is_play_only=False)
df = create_ownership_dataframe(sorted_ownership, player_info, teams_dict, 0)
df

  0%|          | 0/551 [00:00<?, ?it/s]

100%|██████████| 551/551 [00:00<00:00, 48571.10it/s]

,Player ID,Player Name,Team ID,Team Name,Ownership,Position,Points Per Game,Form,Selected By Percent,Now Cost
0,351,Haaland,13,Man City,95.35,4,12.0,12.0,58.6,151.0
1,328,M.Salah,12,Liverpool,63.51,3,12.0,12.0,37.2,125.0
2,495,Pedro Porro,18,Spurs,59.91,2,7.5,7.5,35.6,55.0
3,15,Raya,1,Arsenal,56.59,1,9.0,9.0,27.1,55.0
4,19,Smith Rowe,9,Fulham,50.52,3,6.5,6.5,21.6,56.0
...,...,...,...,...,...,...,...,...,...,...
546,243,Cairney,9,Fulham,0.01,3,0.0,0.0,0.0,50.0
547,534,B.Traore,20,Wolves,0.01,3,0.0,0.0,0.1,50.0
548,281,Taylor,10,Ipswich,0.01,3,1.0,1.0,0.0,50.0
549,611,Szmodics,10,Ipswich,0.01,3,3.5,3.5,0.3,60.0
550,375,Højlund,14,Man Utd,0.01,4,0.0,0.0,0.4,69.0

In [45]:
df_team = df
df_team = df_team[df_team['Team Name'] == 'Aston Villa']
df_team

,Player ID,Player Name,Team ID,Team Name,Ownership,Position,Points Per Game,Form,Selected By Percent,Now Cost,delta
24,54,Rogers,2,Aston Villa,14.83,3,2.0,2.0,10.7,50.0,4.13
44,44,Konsa,2,Aston Villa,8.69,2,1.5,1.5,12.6,45.0,-3.91
96,233,Onana,2,Aston Villa,2.70,3,5.5,5.5,3.7,50.0,-1.00
104,47,Martinez,2,Aston Villa,2.28,1,2.0,2.0,12.7,50.0,-10.42
120,32,Cash,2,Aston Villa,1.79,2,1.5,1.5,2.9,45.0,-1.11
131,58,Watkins,2,Aston Villa,1.54,4,2.0,2.0,29.4,90.0,-27.86
136,36,Digne,2,Aston Villa,1.37,2,2.0,2.0,2.6,45.0,-1.23
137,33,Dendoncker,2,Aston Villa,1.36,3,0.0,0.0,0.9,45.0,0.46
140,48,McGinn,2,Aston Villa,1.31,3,2.5,2.5,2.0,55.0,-0.69
150,28,Bailey,2,Aston Villa,1.23,3,1.5,1.5,3.2,65.0,-1.97
163,39,Gauci,2,Aston Villa,0.96,1,0.0,0.0,0.7,40.0,0.26
165,52,Pau,2,Aston Villa,0.95,2,1.5,1.5,1.5,45.0,-0.55
172,45,Maatsen,2,Aston Villa,0.81,2,1.0,1.0,3.2,50.0,-2.39
181,57,Tielemans,2,Aston Villa,0.71,3,4.5,4.5,1.2,55.0,-0.49
195,50,Nedeljkovic,2,Aston Villa,0.58,2,1.0,1.0,0.8,40.0,-0.22
205,40,Hause,2,Aston Villa,0.47,2,0.0,0.0,0.6,40.0,-0.13
242,29,Barkley,2,Aston Villa,0.29,3,1.0,0.5,0.7,54.0,-0.41
305,38,Duran,2,Aston Villa,0.15,4,3.5,3.5,0.7,60.0,-0.55
309,35,Diego Carlos,2,Aston Villa,0.14,2,0.0,0.0,0.6,45.0,-0.46
336,56,Sousa,2,Aston Villa,0.11,2,0.0,0.0,0.2,40.0,-0.09
339,53,Ramsey,2,Aston Villa,0.10,3,2.5,2.5,0.3,55.0,-0.20
435,598,Bogarde,2,Aston Villa,0.04,2,0.0,0.0,0.1,40.0,-0.06
457,51,Olsen,2,Aston Villa,0.03,1,0.0,0.0,0.1,45.0,-0.07
490,31,Buendia,2,Aston Villa,0.02,3,0.0,0.0,0.1,54.0,-0.08
504,30,Barrenechea,2,Aston Villa,0.01,3,0.0,0.0,0.1,50.0,-0.09
511,41,Iling Jr,2,Aston Villa,0.01,3,0.0,0.0,0.1,54.0,-0.09
525,55,Sinisalo,2,Aston Villa,0.01,1,0.0,0.0,0.0,40.0,0.01
527,46,Marschall,2,Aston Villa,0.01,1,0.0,0.0,0.0,40.0,0.01
545,43,Kesler-Hayden,2,Aston Villa,0.01,2,0.0,0.0,0.0,40.0,0.01

In [39]:
df_pos = df
df_pos = df_pos[df_pos['Position'] == 3]
# df_pos = df_pos[df_pos['Ownership'] >= df_pos['Selected By Percent']]
df_pos[:15]

,Player ID,Player Name,Team ID,Team Name,Ownership,Position,Points Per Game,Form,Selected By Percent,Now Cost,delta
1,328,M.Salah,12,Liverpool,63.51,3,12.0,12.0,37.2,125.0,26.31
4,19,Smith Rowe,9,Fulham,50.52,3,6.5,6.5,21.6,56.0,28.92
8,317,Diogo J.,12,Liverpool,34.15,3,7.0,7.0,19.9,76.0,14.25
10,17,Saka,1,Arsenal,33.14,3,9.0,9.0,34.2,100.0,-1.06
11,398,Gordon,15,Newcastle,31.29,3,6.5,6.5,21.9,75.0,9.39
15,309,Winks,11,Leicester,25.78,3,2.0,2.0,14.2,45.0,11.58
17,182,Palmer,6,Chelsea,23.54,3,9.5,9.5,37.3,105.0,-13.76
23,327,Luis Díaz,12,Liverpool,16.12,3,8.5,8.5,8.7,75.0,7.42
24,54,Rogers,2,Aston Villa,14.83,3,2.0,2.0,10.7,50.0,4.13
25,199,Eze,7,Crystal Palace,14.55,3,2.0,2.0,28.0,70.0,-13.45
28,503,Son,18,Spurs,13.29,3,9.0,9.0,10.1,100.0,3.19
40,372,Garnacho,14,Man Utd,9.23,3,2.5,2.5,14.8,65.0,-5.57
41,364,Amad,14,Man Utd,8.99,3,4.5,4.5,4.0,50.0,4.99
43,433,Gibbs-White,16,Nott'm Forest,8.86,3,6.0,6.0,4.7,65.0,4.16
45,345,De Bruyne,13,Man City,8.67,3,7.5,7.5,10.9,96.0,-2.23

In [44]:
df_delta = df
df_delta['delta'] = df_delta['Ownership'] - df_delta['Selected By Percent']
df_delta = df_delta.sort_values(by='delta', ascending=True)
df_delta = df_delta[df_delta['Position'] == 4]
df_delta[:10]

,Player ID,Player Name,Team ID,Team Name,Ownership,Position,Points Per Game,Form,Selected By Percent,Now Cost,delta
131,58,Watkins,2,Aston Villa,1.54,4,2.0,2.0,29.4,90.0,-27.86
5,401,Isak,15,Newcastle,40.92,4,3.5,3.5,52.9,85.0,-11.98
53,82,Solanke,18,Spurs,6.29,4,2.0,1.0,14.6,75.0,-8.31
200,108,Toney,4,Brentford,0.52,4,0.0,0.0,5.2,74.0,-4.68
142,207,Mateta,7,Crystal Palace,1.31,4,1.5,1.5,5.4,75.0,-4.09
94,306,Vardy,11,Leicester,2.86,4,5.0,5.0,6.6,56.0,-3.74
237,316,Darwin,12,Liverpool,0.33,4,1.0,0.5,3.8,74.0,-3.47
147,389,Zirkzee,14,Man Utd,1.26,4,4.5,4.5,4.4,71.0,-3.14
366,321,Gakpo,12,Liverpool,0.08,4,0.5,0.5,2.9,74.0,-2.82
196,589,Füllkrug,19,West Ham,0.55,4,1.0,1.0,3.2,70.0,-2.65